.row.top-space
    .col-xs-8.text-left
        .box
            =circle_img friendship.user_view.avatar.url(:thumb), 60
    .col-xs-7.col-md-8
        .box.text-left
            =link_to friendship.user_view.username, friendship.user_view 
    .col-xs-4
        .box
            =friendship.status_or_buttons