%article.large-padding.white.top-space.mdl-shadow--2dp
	.row
		.col-xs-12.col-sm-6
			.box
				.row.middle-xs
					.col-xs-12.col-md-2
						.box
					.col-xs-12.col-md-2
						.box
							#user-avatar.text-right
								=circle_img post.user.avatar.url(:medium),50
					.col-xs-12.col-md-2
						.box
							=link_to post.user.username, post.user
	.row.top-space.middle-xs.center-xs
		.col-xs-12.col-md-8
			.box
				.top-space
					%p=post.body
				.top-space
					-if post.image_post_file_name.nil?

					-else
						=image_tag("#{post.image_post.url(:medium)}")
