%p= @post.body
%p= @post.user.email
%h3 Comentarios
=render 'comments/form'
%ul#selector
    -@post.comments.each do |comment|
        %li
            =comment.body
            %span=comment.user.email
