html,body{
	height: 100%;
}
.full-height{
	height: 100%;
}
.full-width{
	width: 100%;
}
.no-margin{
	margin: 0;
}
.large-padding{
	padding: 10px 15px;
}
.remove-bullet-points{
	list-style-type: none;
	margin: 0;
}
.big-padding{
	padding: 2em 1.5em;
}
.large-padding{
	padding: 15px 10px;
}
.padding-bottom{
	padding-bottom: 1em;
}
.border-bottom{
	border-bottom: 1px solid currentcolor;
}
.top-space{
	margin-top: 1em;
}
.right-space{
	margin-right: 1.5em;
}
.underline{
	text-decoration: underline;
}
.no-decoration{
	text-decoration: none;
}
.medium{ 
	font-size: 1.2em;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
} 
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.circle{
	border-radius: 50%;
}