// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: #eee;
}
.main-background{
	background-image: url(#{asset_path('background.jpg')});
	background-size: cover;
	background-repeat: no-repeat;
}
.cover{
	background-size: cover;
	background-position: center;
}

.file-picker{
	background-color: #000;
	color: white;
	font-family: Roboto, Helvetica, Arial;
	display: inline-block;
	padding: 10px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	cursor: pointer;
}

.file-picker + [type='file']{
	display: none;
}

.hidden{
	visibility: hidden;
}

.remotipart{
	display: none;
}
